@use "../mixins/media" as m;
@use "../variables/typography" as t;

.footer {
  margin: 2rem 0 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;

  @include m.smartphone() {
    justify-content: center;
    flex-direction: column;
  }

  span {
    color: var(--primary-color);
    font-family: t.$sans-serif;
    font-weight: 400;
    font-size: t.$font-size-normal;
    line-height: calc(t.$font-size-normal * 1.5);
  }

  .footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    &:first-child {
      span {
        padding: 0 1rem 0 0;

        @include m.smartphone() {
          padding: 0 .25rem;
        }
      }
    }

    span {
      padding: 0 0 0 1rem;
      cursor: pointer;

      @include m.smartphone() {
        padding: 1rem .25rem 0;
      }
      
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}