@use "../mixins/media" as m;
@use "../variables/typography" as t;

@mixin Anchor {
  .nav__link {
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .15rem solid var(--primary-color);
    border-radius: 10rem;
    transition: background-color .25s;
    text-decoration: none;

    &:hover {
      background-color: var(--secondary-color);
      border: .15rem solid var(--secondary-color);
    }
  
    &:hover .inner .inner__link {
      transform: translateY(-100%);
    }
  
    .inner {
      display: inline-flex;
      overflow: hidden;
      flex-direction: column;
      height: calc(.975rem * 1.5);
      line-height: calc(.975rem * 1.5);
      position: relative;
      z-index: 1;
  
      .inner__link {
        transform: translateY(0);
        transition: transform 0.6s;

        &::first-letter {
          text-transform: capitalize;
        }
  
        .link {
          color: var(--primary-color);
          font-family: t.$sans-serif;
          font-weight: 400;
          font-size: t.$font-size-normal;
          line-height: calc(t.$font-size-normal * 1.5);
        }
      }
    }
  }
}

.nav {
  padding: 2rem;
  width: 100%;
  height: 35dvh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;

  @include m.smartphone() {
    height: 20dvh;
  }

  .nav__logo {
    width: 16rem;
    z-index: 9999;

    @include m.smartphone() {
      width: 6rem;
    }
    
    @include m.tablet() {
      width: 9rem;
    }

    @include m.laptop() {
      width: 12rem;
    }
  }

  .nav__text,
  .nav__theme {
    padding: .5rem 1rem;
    display: none;
    color: var(--primary-color);
    font-family: t.$sans-serif;
    font-weight: 400;
    font-size: t.$font-size-large;
    line-height: calc(t.$font-size-large * 1.5);
    z-index: 9999;
    cursor: pointer;

    @include m.smartphone() {
      display: block;
    }

    @include m.tablet() {
      display: block;
    }

    @include m.laptop() {
      display: block;
    }
  }

  .nav__theme {
    display: block;
    font-size: t.$font-size-normal;
    line-height: calc(t.$font-size-normal * 1.5);
    text-transform: capitalize;
    border: .15rem solid var(--primary-color);
    border-radius: 10rem;
    transition: background-color .25s;

    &:hover {
      background-color: var(--secondary-color);
      border: .15rem solid var(--secondary-color);
    }
  }

  .nav__dropdown {
    width: 100%;
    height: 100dvh;
    background-color: var(--third-color);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
      
    @include m.smartphone() {
      display: flex;
      z-index: 9998;
    }

    @include m.tablet() {
      display: flex;
      z-index: 9998;
    }

    @include m.laptop() {
      display: flex;
      z-index: 9998;
    }

    .nav__menu_mobile {
      display: flex;
      flex-direction: column;
      padding: 12rem 2rem;

      @include m.tablet() {
        padding: 14rem 2rem;
      }

      @include m.laptop() {
        padding: 18rem 2rem;
      }

      .nav__item {
        padding: .5rem 0;
  
        @include Anchor();
      }
    }
  }

  .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    @include m.smartphone() {
      display: none;
    }

    @include m.tablet() {
      display: none;
    }

    @include m.laptop() {
      display: none;
    }
  
    .nav__item {
      padding: 0 0 0 1rem;
  
      @include Anchor();

      .nav__active {
        background-color: var(--secondary-color);
        border: .15rem solid var(--secondary-color);
      }
    }
  }
}