@use "../mixins/media" as m;
@use "../variables/typography" as t;

.wrapper {

  .inner__wrapper {
    padding: 2rem;

    .wrapper__content {
      max-width: 100%;
      padding: 24rem 0 12rem;
      position: relative;
  
      p {
        font-family: t.$sans-serif;
        font-size: 3rem ;
        line-height: calc(3rem * 1.5);
        text-align: justify;
        
        @include m.smartphone() {
          font-size: t.$font-size-large;
          line-height: calc(t.$font-size-large * 1.5);
        }
  
        @include m.tablet() {
          font-size: t.$font-size-large;
          line-height: calc(t.$font-size-large * 1.5);
        }
      }
    }

    .wrapper__card {
      display: grid;
      grid-template-columns: repeat(4, auto);
      gap: 2rem;

      @include m.smartphone() {
        grid-template-columns: repeat(1, auto);
      }

      @include m.tablet() {
        grid-template-columns: repeat(2, auto);
      }

      @include m.laptop() {
        grid-template-columns: repeat(3, auto);
      }
    }

    .wrapper__team {
      margin: 8rem 0;
      display: flex;
      flex-direction: column;

      .wrapper__header {
        color: var(--primary-color);
        font-family: sans-serif;
        font-weight: 400;
        font-size: 3rem;
        line-height: calc(3rem * 1.5);

        &:first-child {
          font-size: t.$font-size-large;
          line-height: calc(t.$font-size-large * 1.5);
          color: var(--fourth-color);
        }

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .wrapper__subHeader {
        margin: 4rem 0 0;
        color: var(--primary-color);
        font-family: sans-serif;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: calc(2.5rem * 1.5);

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .wrapper__text {
        max-width: 50%;
        color: var(--fourth-color);
        font-family: sans-serif;
        font-weight: 400;
        font-size: t.$font-size-large;
        line-height: calc(t.$font-size-large * 1.5);
        text-align: justify;

        @include m.smartphone() {
          max-width: 100%;
        }
  
        @include m.tablet() {
          max-width: 100%;
        }
      }
    }
  }

  .wrapper__image {
    margin: -60dvh 0;
    height: 100dvh;
    background-image: url("../../images/magazine/wallpaper_04.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -9999;
    border-radius: 0 0 20rem 20rem;
    animation: hueScale 15s infinite;
  }
}

@keyframes hueScale {
  0% {
    filter: hue-rotate(0);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}